@model IEnumerable<mf_dev_backend_2024.Models.Profissional>

@{
    Layout = "~/Views/Shared/_LayoutMenuProfissional.cshtml";

    ViewData["Title"] = "Histórico de Clientes";
}

<div class="conteiner">
    <section class="secHitorico">
        <div class="titleHistorico">
            <h3>Conheça seu Público!</h3>
        </div>

        <div class="divFiltersHistorico">
            <div class="filterHist" id="filterData">
                <p>Data</p>
            </div>

            <div class="filterHist" id="filterServico">
                <p>Serviço</p>
            </div>

            <div class="filterHist" id="filterPeriodo">
                <p>Período</p>
            </div>

            <div class="filterHist" id="filterClear">
                <p>X</p>
            </div>
        </div>

        <div class="divClientesPerfis">
            <div class="perfilHist">
                <div class="divFotoPerfilHist">
                    <img src="~/Img/perfilHistorico.png" alt="Aline Santos" />
                </div>

                <div class="divNomeCliente">
                   <h5>Aline Santos</h5>
                </div>

                <div class="divBotaoHist">
                    <a class="botaoHist" id="" href="">Detalhes</a>
                </div>
            </div>

            <div class="perfilHist">
                <div class="divFotoPerfilHist">
                    <img src="~/Img/perfilHistorico.png" alt="Aline Santos" />
                </div>

                <div class="divNomeCliente">
                    <h5>Aline Santos</h5>
                </div>

                <div class="divBotaoHist">
                    <a class="botaoHist" id="" href="">Detalhes</a>
                </div>
            </div>

            <div class="perfilHist">
                <div class="divFotoPerfilHist">
                    <img src="~/Img/perfilHistorico.png" alt="Aline Santos" />
                </div>

                <div class="divNomeCliente">
                    <h5>Aline Santos</h5>
                </div>

                <div class="divBotaoHist">
                    <a class="botaoHist" id="" href="">Detalhes</a>
                </div>
            </div>

            <div class="perfilHist">
                <div class="divFotoPerfilHist">
                    <img src="~/Img/perfilHistorico.png" alt="Aline Santos" />
                </div>

                <div class="divNomeCliente">
                    <h5>Aline Santos</h5>
                </div>

                <div class="divBotaoHist">
                    <a class="botaoHist" id="" href="">Detalhes</a>
                </div>
            </div>
        </div>
    </section>    
</div> 

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#236D5E" fill-opacity="1" d="M0,160L48,170.7C96,181,192,203,288,176C384,149,480,75,576,42.7C672,11,768,21,864,58.7C960,96,1056,160,1152,160C1248,160,1344,96,1392,64L1440,32L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>