@{
    ViewData["Title"] = "Home Bellus Click";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel=" stylesheet" href="./css/home.css">
</head>
<body>
    <!-- Cabeçalho -->
    <header id="fixo" class="cabecalho">
        <img class="logo" src="./img/logoPrincipal.png" alt="Logo Bellus Click">
        <nav class="menu">
            <ul class="menu-lista">
                <li class="menu-item"><a class="menu-link" href="#home"> Home </a></li>
                <li class="menu-item"><a class="menu-link" href="#serviços"> Serviços</a></li>
                <li class="menu-item"><a class="menu-link" href="#objetivos"> Objetivos</a></li>
                <li class="menu-item"><a class="menu-link" href="#quemsomos"> Quem Somos</a></li>
                <button><a class="menu-link" href="Login"> Junte-se a Nós</a></button>
            </ul>
        </nav>
    </header>
    <!-- Apresentação -->
    <section id="home" class="apresentacao-home">
        <div class="apresentacao-descricao">
            <br>  <br>  <br>
            <h1 class="apresentacao-titulo"> Trasforme sua rotina com o <strong> Bellus Click! </strong></h1><br>
            <p class="apresentacao-texto">
                O Bellus Click foi criado para simplificar a vida dos profissionais da estética, automatizando o agendamento de serviços e a captação de clientes.
                Com uma plataforma fácil de usar e acessível, você tem mais tempo para se dedicar ao que realmente importa: o seu talento. Deixe o Bellus Click cuidar da gestão,
                enquanto você faz seu negócio brilhar!
            </p>
        </div>
        <div>
            <img class="imagem-home" src="./Img/retangulo.png"> 
        </div>
        <!-- Aprensentação do Quem somos  -->
    </section>
     <section id="quemsomos" class="apresentacao-quemsomos">
         <div>
           <img class="imagem-quemsomos" src="~/Img/Mulher.png">
         </div>
      <div class="quemsomos-descricao" >
            <h2 class="quemsomos-titulo"> <strong>  Quem Somos </strong></h2> <br>
        <p class="quuemsomos-texto"> O Bellus Click foi criado por uma equipe de profissionais apaixonados por tecnologia e estética.
            Nosso objetivo é transformar a rotina de profissionais da beleza, oferecendo uma plataforma digital 
            prática, funcional e eficiente. </p>
       </div>
    </section>
    <!-- Obejtivos-->
    <section id="objetivos" class="apresentacao-objetivos">
        <div>
            <h2 class="objetivos-titulo"> <strong>Objetivos </strong> </h2>
        </div>
     <section class="descricao-objetivos">
         <div class="descricaoum">
                <p class="descricaoum-texto"> Oferecer ferramentas para melhorar o controle do fluxo de trabalho, finanças e agenda, permitindo uma gestão mais organizada e eficaz. </p>
                <h4 class="descricaoum-titulo"> <strong>Otimizar a Gestão </strong></h4>
         </div>
         <div class="descricaodois">
                <p class="descricaodois-texto"> Facilitar e agilizar o agendamento de serviços e o controle de clientes, reduzindo o tempo gasto com tarefas administrativas</p>
                <h4 class="descricaodois-titulo"> <strong>Automatizar Processos</strong> </h4>
         </div>
         <div class="descricaotres">
                <p class="descricaotres-texto"> Proporcionar uma solução eficaz para atrair novas clientes, facilitando o crescimento dos negócios dos usuários do Bellus Click.</p>
                <h4 class="descricaotres-titulo"><strong>Captação de Clientes </strong></h4>
         </div>
         </section>
     </section >
     <!-- Serviços para clientes -->
     <section id="serviços" class=" descricao-servicos">
     <div class="onda-fundo" >
            <img class="fundo-onda" src="./Img/BackgroundDefinitivo.png" >
     </div> 
     <div class="servicos-titulo">
         <h2 class="tituloservico"> <strong> Serviços dos Profissionais </strong> </h2>
     </div>
    </section>
    <section class="funcionalidades">
            <div >
            <img class="horario" src="~/Img/horario.png" >
            </div>
        <div class="agendamento">
            <div>
            <h5 class="agendamentohorario-titulo"> <strong>Agende Seu Horario </strong></h5>
            <p class="agendamentohorario-texto"> Garanta um atendimento personalizado e sem espera, escolhendo o melhor horário para o seu conforto. 
                Agende com antecedência e tenha uma experiência exclusiva e dedicada! </p>
            </div>
        </div>
        <div class="avaliacao-cliente">
            <div>
                <img class="cliente-avaliacao" src="~/Img/avalaiçãocliente.png">
            </div>
            <div class=" descricao-avaliacaocliente">
                <h5 class="avaliacaocliente-titulo"> <strong>Avalei Seu Atendimento </strong></h5>
                <p class="avaliacaocliente-texto">  Deixe sua avaliação no nosso sistema ou redes sociais, dando nota e comentários sobre a qualidade e o atendimento.
                    Sua opinião é essencial para aprimorarmos o serviço!  </p>
            </div>
        </div>
        <div lass="escolha-profissional">
            <div>
                <img class="profissional-escolha" src="~/Img/profissionais.png">
            </div>
            <div class=" descricao-escolhaprofissional">
                <h5 class="escolhaprofissional-titulo"> <strong> Escolha seu Profissional  </strong></h5>
                <p class="escolhaprofissional-texto"> Escolha o profissional perfeito entendendo suas necessidades, pesquisando suas experiências e avaliando trabalhos
                    anteriores. Verifique opiniões e escolha alguém que transforme sua visão em realidade.
                </p>
            </div>
        </div>
        <div class="localizacao-profissional">
            <div>
                <img class="profissional-localizacao" src="~/Img/Localização.png">
            </div>
            <div class="descricao-localizacaoprofissional">
                <h4 class="localizacaoprofissional-titulo"> <strong> Escolha Conforme sua Localização  </strong></h4>
                <p class="localizacaoprofissional-texto"> Escolha o profissional certo bem perto de você. Tenha o apoio ideal, onde equando voçê precisar.
                </p>
            </div>
        </div>
    </section>
    <!-- onda de fundo com a frase e link -->
    <section class="servicosprofissional">
        <div class="onda-cima">
            <img class="ondaimagem" src="./Img/onda-invertida.png" >
         </div>
     <div class="captacao-cliente"><!-- Frase junto com botão -->
            <h4 class="frase-clente"> Seu talento merece destaque! Cadastre-se e alcance novas clientes.</h4> <br >
            <button><a class="link-cliente" href="Login"> Junte-se a Nós</a></button>
     </div>
     <div class="ondadebaixo"><!-- imagem de onda -->
         <img class="imagemdebaixo" src="./Img/BackgroundDefinitivo.png" >
     </div>
     <!--Serviços para os profissionais  -->
    </section>
    <section class="profissionais-tiposservicos">
        <div class="profissionais-servicos">
            <h2 class="profissionais-titulo"><strong> Serviços para Profissionais </strong></h2>
        </div><!-- icones e texto dos serviços para os proficionais -->
        <div class="tipo-porfissionaisrelatorio">
            <img class="icone-relatorio" src="./Img/relatorio.png" >
            <p class="tipo-relatorio"> Gere relatorios revelando os serviços mais rentáveis e o lucro mensal. Com insights sobre crescimento e fidelidade dos clientes, 
                é a bússola financeira para impulsionar o sucesso!</p>
        </div>
        <div class="tipo-profissionalestoque">
            <img class="icone-estoque" src="~/Img/estoque.png" >
            <p class="tipo-estoque"> Controle o fluxo dos produtos e garanta que tudo esteja sempre à mão para atender com qualidade e sem imprevistos!</p>
        </div>
        <div class="tipo-profissionalagenda">
            <img class="icone-agendaprofissional" src="./Img/horario.png" >
            <p class="tipo-agendaprofissional"> Organize e otimize seu tempo com uma agenda exclusiva para profissionais! Gerencie horários, acompanhe atendimentos e mantenha sua agenda sempre cheia.
                Seja para organizar os compromissos do dia a dia ou para visualizar a semana inteira, essa ferramenta facilita a administração do seu negócio, ajuda a evitar conflitos de horário e 
                melhora a experiência dos clientes, oferecendo um atendimento pontual e personalizado.</p>
        </div>
        <div class="historico-cliente">
            <img class="icone-historicocliente" src="~/Img/Historico-Cliente.png" >
            <p class="tipo-historicocliente"> Acompanhe o histórico de cada cliente e ofereça um atendimento personalizado.</p><br><br>
        </div>
    </section>
    <!--Cadstro para as profissionais -->
    <section class="servicos-tipoprofissional">
        <div class="ondacima">
            <img class="ondaimagemcima" src="./Img/onda-invertida.png">
        </div>
        <div class="captacao-profissional"><!-- frase e botão -->
            <h5 class="frase-profissional">Junte-se a nós e leve seu talento ainda mais longe – sucesso compartilhado começa aqui!</h5>
            <button><a class="link-profissional" href="Login"> Junte-se a Nós</a></button>
        </div>
        <div class="ondade-baixo">
            <img class="imagemde-baixo" src="./Img/ondaclean.png">
        </div>
        </section>
    <!--carrocel de comentarios e relatos -->
    <section class="carrocel">
            <h2 class="relatos-titulo"><strong> Relatos dos Usuários</strong></h2>
        <div class="swiper">
            <div class="swiper-pagination"></div>
            <div class="swiper-wrapper">
                <div class="swiper-slide"> <p> Desde que comecei a usar o Bellus Click, minha agenda ficou muito mais organizada! Ganhando mais tempo para focar no atendimento aos clientes.</p> </div>
                <div class="swiper-slide"><p> O histórico de clientes é uma das melhores funcionalidades! Posso personalizar cada atendimento e lembrar de preferências específicas. </p></div>
                <div class="swiper-slide"><p> Fiquei surpresa com a praticidade! Todos os meus serviços, clientes e agendamentos em um só lugar. Recomendo para todos os profissionais!</p></div>
                <div class="swiper-slide"> <p>Perfeito para quem quer automatizar o dia a dia! Bellus Click é intuitivo e faz tudo ficar mais simples na rotina de um profissional de beleza.</p></div>
                <div class="swiper-slide"><p>Finalmente encontrei uma plataforma que entende as necessidades dos profissionais de estética. Bellus Click facilitou minha vida! </p></div>
                <div class="swiper-slide"><p>Adorei o sistema de alertas! Nunca mais esqueci um compromisso e posso focar no que importa: atender bem meus clientes."</p></div>
                <div class="swiper-slide"><p> A interface é super intuitiva. Mesmo com pouca experiência digital, consigo gerenciar minha agenda e clientes sem dificuldade.</p></div>
                <div class="swiper-slide"><p> O Bellus Click me ajudou a expandir minha clientela. O sistema é fácil de usar e muito completo para quem trabalha na área de estética!</p></div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>  
    </section> 
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
        const swiper = new Swiper('.swiper', {
            spaceBetween: 10,
            slidesPerView: 3,
            pagination: {
                el: '.swiper-pagination',
                type: 'bullets',
            },
        });
    </script>
    <!-- Fale conosco -->
    <section class="fale-conosco">
        <div class="imagem-faleconosco">
            <img class="imagemfundo-faleconosco" src="~/Img/BackgroundDefinitivo.png" >
        </div>
        <h2 class="titulo-faleconosco"><strong> Contate Conosco</strong> </h2>
    </section>
</body>
</html>
