@{
    ViewData["Title"] = "Register";
}

<style>
    body {
        background-color: #FFF5E1;
    }
</style>

<div style="position: absolute; top: 1rem; left: 1rem; z-index: 2;">
    <img src="~/Img/Logo.png" alt="Logo" class="img-fluid" style="max-width: 25vh; height: auto;">
</div>

<div class="container" style="position: relative; z-index: 1; margin-top: 10rem;">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card shadow-sm p-4" style="background-color: #F0C5C0; border-radius: 20px;">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        <div class="form-group mb-3">
                            <label for="nome" class="form-label">Nome</label>
                            <input type="text" name="nome" class="form-control form-control-lg" id="nome" required placeholder="Digite seu nome" style="background-color: #FFF; border-radius: 10px;" />
                        </div>

                        <div class="form-group mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" name="email" class="form-control form-control-lg" id="email" required placeholder="Digite seu email" style="background-color: #FFF; border-radius: 10px;" />
                        </div>

                        <div class="form-group mb-3">
                            <label for="senha" class="form-label">Senha</label>
                            <input type="password" name="senha" class="form-control form-control-lg" id="senha" required placeholder="Senha" style="background-color: #FFF; border-radius: 10px;" />
                        </div>

                        <div class="form-group mb-3">
                            <input type="password" name="confirmarSenha" class="form-control form-control-lg" id="confirmarSenha" required placeholder="Confirmar Senha" style="background-color: #FFF; border-radius: 10px;" />
                        </div>

                        <div class="form-group mb-3">
                            <label for="foto" class="form-label">Foto</label>
                            <input type="file" name="foto" class="form-control form-control-lg" id="foto" style="background-color: #FFF; border-radius: 10px;" />
                        </div>

                        <!-- Botão para abrir o modal de endereço -->
                        <div class="form-group mb-3">
                            <button type="button" class="btn btn-lg" data-bs-toggle="modal" data-bs-target="#enderecoModal" style="background-color: #ECECEC; color: #828282; border-radius: 10px; width: 100%;">
                                Adicionar Endereço
                            </button>
                        </div>

                        <div class="form-group mb-3">
                            <label for="tipoUsuario" class="form-label">Tipo de Usuário</label>
                            <select name="tipoUsuario" class="form-control form-control-lg" id="tipoUsuario" required style="background-color: #FFF; border-radius: 10px;">
                                <option value="cliente">Cliente</option>
                                <option value="profissional">Profissional</option>
                            </select>
                        </div>

                        <div class="form-group mb-3 d-flex justify-content-between" style="margin-top: 2rem;">
                            <a href="/Auth/Login" class="btn btn-lg" style="background-color: #ECECEC; color: #828282; border-radius: 10px; width: 18rem; margin-right: 5px;">
                                Retornar ao login
                            </a>
                            <button type="submit" class="btn btn-lg" style="background-color: #ECECEC; color: #828282; border-radius: 10px; width: 18rem; margin-left: 5px;">
                                Cadastrar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal para o endereço -->
<div class="modal fade" id="enderecoModal" tabindex="-1" aria-labelledby="enderecoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-radius: 20px; background-color: #F0C5C0;">
            <div class="modal-header">
                <h5 class="modal-title" id="enderecoModalLabel">Informações de Endereço</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <!-- Campos de endereço dentro do modal -->
                <div class="form-group mb-3">
                    <label for="cep" class="form-label">CEP</label>
                    <input type="text" name="CEP" class="form-control form-control-lg" id="cep" required placeholder="Digite seu CEP" style="background-color: #FFF; border-radius: 10px;" />
                </div>
                <div class="form-group mb-3">
                    <label for="logradouro" class="form-label">Logradouro</label>
                    <input type="text" name="Logradouro" class="form-control form-control-lg" id="logradouro" required placeholder="Digite seu Logradouro" style="background-color: #FFF; border-radius: 10px;" />
                </div>
                <div class="form-group mb-3">
                    <label for="numero" class="form-label">Número</label>
                    <input type="text" name="Numero" class="form-control form-control-lg" id="numero" required placeholder="Digite o Número" style="background-color: #FFF; border-radius: 10px;" />
                </div>
                <div class="form-group mb-3">
                    <label for="complemento" class="form-label">Complemento</label>
                    <input type="text" name="Complemento" class="form-control form-control-lg" id="complemento" placeholder="Digite o Complemento" style="background-color: #FFF; border-radius: 10px;" />
                </div>
                <div class="form-group mb-3">
                    <label for="bairro" class="form-label">Bairro</label>
                    <input type="text" name="Bairro" class="form-control form-control-lg" id="bairro" required placeholder="Digite seu Bairro" style="background-color: #FFF; border-radius: 10px;" />
                </div>
                <div class="form-group mb-3">
                    <label for="cidade" class="form-label">Cidade</label>
                    <input type="text" name="Cidade" class="form-control form-control-lg" id="cidade" required placeholder="Digite sua Cidade" style="background-color: #FFF; border-radius: 10px;" />
                </div>
                <div class="form-group mb-3">
                    <label for="estado" class="form-label">Estado</label>
                    <input type="text" name="Estado" class="form-control form-control-lg" id="estado" required maxlength="2" placeholder="Digite seu Estado (ex: SP)" style="background-color: #FFF; border-radius: 10px;" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary">Salvar Endereço</button>
            </div>
        </div>
    </div>
</div>

<div class="w-100 fixed-bottom" style="position: absolute; z-index: 0;">
    <img src="~/Img/BackgroundDefinitivo.png" alt="Imagem de fundo" class="img-fluid" style="width: 100%; height: 50vh;">
</div>
